@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
       --strong:#E63946;
       --light:#F1FAEE;
       --light-blue:#A8DADC;
       --medium-blue:#457B9D;
       --dark-blue:#1D3557;
}

section.app-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    max-width: 70%;
    position: relative;
}

main.finances-budget-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 30px;
    padding: 2rem;
    margin-top: 6rem;
    margin-left: 0rem;
    width: 18rem;
    border: 0.2rem solid var(--border-color);
    background:var(--medium-blue);
    color: var(--light);
    box-shadow: 2px 2px 2px 2px var(--light-blue);
    animation: fadeIn 1.5s ease-in;
}

main.income-register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 30px;
    padding: 1rem;
    margin-top: 6rem;
    margin-left: 0rem;
    width: 20rem;
    max-width: 25%;
    border: 0.2rem solid var(--border-color);
    background:var(--light-blue);
    color: var(--dark-blue);
    box-shadow: 2px 2px 2px 2px var(--medium-blue);
    animation: fadeIn 1.5s ease-in;
}

main.expenses-register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 30px;
    padding: 1rem;
    margin-top: 6rem;
    margin-left: 0rem;
    width: 20rem;
    max-width: 27%;
    border: 0.2rem solid var(--border-color);
    background:var(--light-blue);
    color: var(--dark-blue);
    box-shadow: 2px 2px 2px 2px var(--medium-blue);
    animation: fadeIn 1.5s ease-in;
}

h1,
h2,
.income-types,
.expenses-types{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.9rem;
    margin-bottom: 1.5rem;
    animation: moveLeftAndRight 1.5s ease-in-out;
}

.label-inputs{
    font-weight: bold;
    padding-left: 1rem;
}

.inputs{
    display: flex;
    align-self: flex-start;
    margin: 1rem;
    padding: 0.1rem;
    border-radius: 5px;
    font-weight: bold;
}

.report-input{
    margin: 1.5rem;
    padding: 0.1rem;
    border-radius: 5px;
    font-weight: bold;
}

label[for="report-start-date"],
label[for="report-end-date"] {
    font-weight: bold;
    margin-left: 1rem;
}

.button,
.report-button {
    font: inherit;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid var(--border-color);
    background:var(--light);
    color: var(--dark-blue);
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.9rem;;
    cursor: pointer;
    align-self: flex-start;
}

.button:hover,
.button:active,
.report-button:hover,
.report-button:active {
    background:var(--strong);
    color: var(--light);
    border: 3px solid var(--background-buget);
}

.tables{
    display: flex;
    justify-content: space-around;
}

#combined-table-container {
    display: none;
}

.combined-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-radius: 15px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-bottom: 1rem;
    width: 65%;
    max-width: 45rem;
    border: 0.1rem solid var(--border-color);
    background:var(--light-blue);
    color: var(--dark-blue);
    box-shadow: 2px 2px 2px 2px #ccc;
    animation: fadeIn 1.5s ease-in;
    position: relative;
    left: 10%; 
    transform: translateX(-50%); 
}

.income-cell {
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5rem;
}

.expense-cell {
    border-radius: 10px;
    color: var(--strong); 
    font-weight: bold;
    padding: 0.5rem;
}

th{
    padding: 0.2rem 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 2px solid black;
}

td{
    padding: 0.2rem 1rem;
    text-align: center;
}

@media (max-width: 83rem) {
    section.app-box {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap; 
    }

    main.finaces-budget-app,
    main.income-register,
    main.expenses-register {
        flex-direction: column;
        flex-wrap: wrap;
        align-self: self-start;
        min-width: 18rem;
        width: 100%;
    }

    .combined-table {
        left: auto;  
        max-width: 70%; 
        margin-left: 1rem; 
        transform: none; 
}

}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes moveLeftAndRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(2rem);
    }
}