@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
        --background-buget: #E07A5F;
        --text-buget-color: #3D405B;
        --border-color:#3D405B;
        --button-color: #F4F1DE;
        --button-hover-color: #81B29A;
        --button-hover-background: #F1FAEE;
}

section.app-box {
    display: flex;
    justify-content: start;
}

main.finances-budget-app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 30px;
    padding: 2rem;
    margin-top: 6rem;
    margin-left: 2rem;
    width: 18rem;
    border: 0.2rem solid var(--border-color);
    background:var(--button-hover-color);
    color: var(--text-buget-color);
    box-shadow: 2px 2px 2px 2px #ccc;
    animation: fadeIn 1.5s ease-in;
}

main.income-register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 30px;
    padding: 2rem;
    margin-top: 6rem;
    margin-left: 3rem;
    width: 20rem;
    max-width: 25%;
    border: 0.2rem solid var(--border-color);
    background:var(--button-hover-color);
    color: var(--text-buget-color);
    box-shadow: 2px 2px 2px 2px #ccc;
    animation: fadeIn 1.5s ease-in;
}

main.expenses-register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 30px;
    padding: 2rem;
    margin-top: 6rem;
    margin-left: 3rem;
    width: 23rem;
    max-width: 30%;
    border: 0.2rem solid var(--border-color);
    background:var(--button-hover-color);
    color: var(--text-buget-color);
    box-shadow: 2px 2px 2px 2px #ccc;
    animation: fadeIn 1.5s ease-in;
}

h1,
h2,
.income-types,
.expenses-types{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.9rem;
    margin-bottom: 1.5rem;
    animation: moveLeftAndRight 1.5s ease-in-out;
}

.label-inputs{
    font-weight: bold;
}

.inputs {
    display: flex;
    align-self: flex-start;
    margin: 1rem;
    padding: 0.1rem;
    border-radius: 5px;
    font-weight: bold;
}

.button{
    font: inherit;
    font-weight: bold;
    border-radius: 5px;
    border: 3px solid var(--border-color);
    background: var(--button-color);
    color: var(--text-buget-color);
    padding: 0.5rem;
    margin-left: 0.9rem;;
    cursor: pointer;
    align-self: flex-start;
}

.button:hover,
.button:active {
    background:var(--border-color);
    color: var(--button-color);
    border: 3px solid var(--background-buget);
}

@media (max-width: 77rem) {
    section.app-box {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap; 
    }

    main.finaces-budget-app,
    main.income-register,
    main.expenses-register {
        flex-direction: column;
        flex-wrap: wrap;
        align-self: self-start;
        min-width: 19rem;
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes moveLeftAndRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(2rem);
    }
}